.DS_Store
Thumbs.db

.idea/
.vscode/
*.iml

.idea/

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.*

node_modules/
dist/
build/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

target/
*.log

*.sqlite3