# -------- OS --------
.DS_Store
Thumbs.db

# -------- IDEs --------
.idea/
.vscode/
*.iml

# PyCharm
.idea/

# -------- Python --------
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.*

# -------- Node / React --------
node_modules/
dist/
build/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -------- Java / Spring --------
target/
*.log

# -------- Misc --------
*.sqlite3
